<div ng-show="!vm.editing" class="review-card-parent">
  <div class="review-card" ng-class="{'review-card-hovering': vm.loggedInUser.username && vm.showOverlay}">
    <h3 class="movie-title"> {{title}} <span class="date"> {{review.date}}</span></h3>
    <div class="review-info">
      <h3>
        <span uib-rating ng-model="review.score" read-only="true"></span>
        <span class="vote-score"> +{{review.voteScore}} </span>
        <span class="author-name"> {{review.author.username}}</span>
      </h3>
      <hr>
    </div>
    <h4> {{review.text}} </h4>
  </div>
  <div class="review-buttons">
    <div ng-if="review.author.username == vm.loggedInUser.username">
      <input type="button" class="review-card-edit" value="Edit" ng-click="vm.editing = true"></input>
      <input type="button" class="review-card-edit" value="Delete" ng-click="vm.deleteReview()"></input>
    </div>
    <div ng-if="review.author.username != vm.loggedInUser.username && vm.loggedInUser.username">
      <input ng-show="review.myVote !== 1" type="button" class="review-card-upvote" value="Upvote" ng-click="vm.vote(1)"></input>
      <input ng-show="review.myVote !== -1" type="button" class="review-card-upvote" value="Downvote" ng-click="vm.vote(-1)"></input>
      <input ng-show="review.myVote !== 0" type="button" class="review-card-upvote" value="Reset vote" ng-click="vm.vote(0)"></input>
    </div>
  </div>
  <div class="overlay" ng-show="review.author.username == vm.loggedInUser.username && vm.showOverlay">
  </div>
  <div class="overlay" ng-show="vm.showOverlay && review.author.username != vm.loggedInUser.username && vm.loggedInUser.username">
  </div>
</div>

<div ng-show="vm.editing" class="review-card-parent-editing">
  <div class="review-card-editing">
    <h3> {{title}}</h3>
    <h3><span uib-rating ng-model="vm.editedScore"></span></h3>
    <hr>
    <textarea ng-model ="vm.editedText"></textarea>
    <input type="button" class="review-card-button save" value="Save" ng-click="vm.save()"></input>
    <input type="button" class="review-card-button cancel" value="Cancel" ng-click="vm.cancel()"></input>
  </div>
</div>
