<div class="col-md-12">
  <div class="col-md-4">
    <div class="header-home">
      <h1> Popular movies </h1>
    </div>
    <div class="movie-container-home">
      <div ng-repeat="movie in vm.movies" class="movies">
        <movie movie="movie" poster-width="300"></movie>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="header-home">
      <h1>Latest releases </h1>
    </div>
    <div class="movie-container-home">
      <div ng-repeat="movie in vm.latestReleases" class="movies">
        <movie movie="movie" poster-width="300"></movie>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="header-home">
      <h1> Latest reviews </h1>
    </div>
    <div class="movie-container-home">
      <div ng-repeat="review in vm.reviews" class="reviews slide">
        <review review="review" title="review.movie.title"></review>
      </div>
    </div>
  </div>
</div>
<div class="loader" data-loading>
  <img src="common/assets/spinner2.gif">
</div>
</div>
