.navbar-inverse{
  background-color: #EEE;
  border-color: #FFF;
}

.navbar-brand {
  font-size: 40px;
}

.navbar-inverse .navbar-nav > .active > a {
  transition: color 0.3s ease;
  background-color: #2D9CDB;
  color: #FFF;
  outline: none;
}


.navbar-inverse .navbar-nav > li > a:hover {
  transition: color 0.3s ease;
  color: #000;
}

.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-header > a,
.navbar-inverse .navbar-header > a:hover,
.navbar-inverse .navbar-header > a:focus {
  transition: color 0.3s ease;
  color: #666;
  outline: none;
  cursor: pointer;
}

.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.nav .navbar-nav .navbar-right .active > a {
  transition: background-color 0.3s ease;
  background-color: #2D9CDB;
}

.searchbar {
  display: inline;
  width: 800px;
  border: 1px solid #ccc;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 2px 2px 3px #666;
  -webkit-box-shadow: 1px 1px 1px #AAA;
  box-shadow: 1px 1px 1px #AAA;
  font-size: 14px;
  margin-top: 9px;
  padding: 4px 8px;
  outline: 0;
  -webkit-appearance: none;
}

select {
  margin-left: 40px;
}

.search-icon{
  padding-left: 10px;
  cursor: pointer;
  padding-top: 13px;
  font-size: 20px;
  color: #2D9CDB;
}
