<div class="col-md-12">
  <div class="col-md-4">
    <div class="header-home">
      <h3> My profile </h3>
    </div>
    <div class="card">
      <img src="download.jpg" alt="Avatar">
      <div class="container" ng-if="!vm.editing">
        <h4><b>{{vm.user.username}}</b></h4>
        <h4><b>{{vm.user.email}}</b></h4>
        <h5><b>{{vm.user.text}}</b></h5>
        <input type="button" name="edit" class="profile-edit-button" value="Edit" ng-click="vm.editing=true">
      </div>
      <div class="edit-container" ng-if="vm.editing">
        <div>
          <h4>username</h4>
          <input type="text" name="username" ng-model="vm.editedUsername">
        </div>
        <div>
          <h4>email</h4>
          <input type="email" name="email" ng-model="vm.editedEmail">
        </div>
        <div>
          <h4>password</h4>
          <input type="password" name="password" ng-model="vm.editedPassword">
        </div>
        <div class="profile-description">
          <h4>description </h4>
          <textarea ng-model="vm.editedDescription"></textarea>
        </div>
        <input type="button" name="cancel" class="profile-edit-button" value="Cancel" ng-click="vm.cancel()">
        <input type="button" name="save" class="profile-edit-button" value="Save" ng-click="vm.save()">
      </div>
    </div>
  </div>
  <div class="col-md-1">
  </div>
  <div class="col-md-4" ng-if="vm.followedUsers && vm.followedUsers.length > 0">
    <div>
      <h3> People I follow </h3>
    </div>
    <div ng-repeat="user in vm.followedUsers" class="slide">
      <table>
        <follow-user user="user" is-profile="true"></follow-user>
      </table>
    </div>
  </div>
</div>
<div class="col-md-12 profile-reviews" ng-if="vm.reviews && vm.reviews.length > 0">
    <h3> My reviews </h3>
  <div ng-repeat="review in vm.reviews" class="slide">
    <review review="review" title="review.movie.title">
  </div>
</div>
<div class="col-md-12 profile-lists" ng-if="vm.lists && vm.lists.length > 0">
  <h3 class="profile-list-header"> My lists </h3>
  <div ng-repeat="list in vm.lists" class="slide">
    <h4><i>{{list.title}} </i></h4>
    <list list = "list">
  </div>
</div>
<div class="loader" data-loading>
  <img src="spinner2.gif">
</div>
