<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="menu.home" ng-click="setActiveTab('home')">Moviez</a>
    </div>
    <ul class="nav navbar-nav">
      <li ng-class="tabClasses.home"><a ui-sref="menu.home"ng-click="setActiveTab('home')">Home</a></li>
      <li ng-class="tabClasses.movies"><a ui-sref="menu.movies" ng-click="setActiveTab('movies')">Movies</a></li>
      <li ng-class="tabClasses.reviews"><a ui-sref="menu.reviews" ng-click="setActiveTab('reviews')">Reviews</a></li>
      <li ng-class="tabClasses.users"><a ui-sref="menu.users" ng-click="setActiveTab('users')">Users</a></li>
      <search class="nav navbar-nav"></search>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li ng-if="user" ng-class="tabClasses.profile"><a ui-sref="menu.profile" ng-click="setActiveTab('profile')">{{user.username}}</a></li>
      <login-register class="nav navbar-nav"></login-register>
    </ul>
  </div>
</nav>

<div>
  <div ui-view="main"></div>
</div>
