<div class="row list-header-buttons">
  <toggle ng-model="vm.showAllLists" ng-change="vm.filter()" on="All" off="Followed users"></toggle>
  <input type="button" class="add-list-button" value="Create list" ng-click="vm.showListModal()"></input>
  <h1 class="list-header"> Movie Lists </h1>
</div>
<div class="list-overview slide" ng-repeat="list in vm.lists">
  <h4><i>{{list.title}} </i></h4> by
  <h4 class="author" ui-sref="menu.other-user({username: list.author.username})"><b> {{list.author.username}} </b></h4>
  <br></br>
  <list list="list"></list>
</div>
